<h1>Using Machine Learning to Diagnose Breast Cancer</h1>
<h2> By: Gaby Escobar, Hrishika Basava, and Michelle Li</h2>

<body>
    <form action = "/" method = "POST">
    <p>Input integer values from 1-10</p>
    <p>Clump Thickness:
        <input type = "number"
           name = "clumpThickness"
           min = "1"
           max = "10">
    </p>

    <p>Uniformity of Cell Size:
        <input type = "number"
           name = "cellSize"
           min = "1"
           max = "10">
    </p>

    <p>Uniformity of Cell Shape:
        <input type = "number"
           name = "cellShape"
           min = "1"
           max = "10">
    </p>

    <p>Marginal Adhesion:
           <input type = "number"
           name = "marginalAdhesion"
           min = "1"
           max = "10">
    </p>
    <p>Single Epithelial Cell Size:
           <input type = "number"
           name = "epithelialCellSize"
           min = "1"
           max = "10">
    </p>
    <p>Bare Nuclei:
           <input type = "number"
           name = "bareNuclei"
           min = "1"
           max = "10">
    </p>
    <p>Bland Chromatin:
           <input type = "number"
           name = "chromatin"
           min = "1"
           max = "10">
    </p>
    <p>Normal Nucleoli:
           <input type = "number"
           name = "nucleoli"
           min = "1"
           max = "10">
    </p>
    <p>Mitoses:
           <input type = "number"
           name = "mitoses"
           min = "1"
           max = "10">
    </p>

    <input type= "submit" value = "Submit">

    </form>

    <h2>{{title}}</h2>
    <p>{{results}}</p>

</body>
